<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h2>This is a ejs template!</h2>
        <div>
            <%= name%>
        </div>

        <form method="post" action="/doLogin">
            <input type="text" name="username" >
            <br>
            <input type="password" name="password" value="">
            <br>
            <button type="submit">提交</button>
        </form>
    </body>
</html>